{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="review-hero" id="hero">
    <div class="container"></div>
</section>
<div class="container-fluid bg-white">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="{% url 'home' %}" class="btn btn-lg m-2 btn-secondary" type="button">Close</a>
    </div>
</div>
<section class="reviews bg-white">
    <div class="container">
        <div class="col-12 col-md-8 col-lg-6 offset-lg-3">
            <div class="section-info">
                <div class="section-description">
                    <div class="about-headline">
                        <h2 class="sub-headline text-black">Add a Review</h2>
                    </div>
                </div>
            </div>        
        </div>
        <div class="row">
        <div class="col-12 col-md-6 col-lg-6 offset-lg-3">
            <a href="{% url 'add_review' %}" class="btn btn-lg btn-secondary">Add Review</a>
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% endblock %}