{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="review-hero" id="hero">
    <div class="container"></div>
</section>
<section class="reviews bg-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-8 offset-lg-2">
                <div class="section-info">
                    <div class="section-description">
                        <div class="about-headline">
                            <h2 class="sub-headline text-black">Customer Reviews</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2 col-lg-2 justify-content-md-end">
                <a href="{% url 'home' %}" class="btn btn-lg m-2 btn-secondary" type="button">Close</a>
            </div>       
        </div>
        <div class="row user-review">
            <div class="col-12">
                {% for rev in reviews %}
                <div id="accordion">
                    <div class="card">
                        <div class="card-header bg-secondary" id="heading{{ rev.id }}">
                            <h4 class="mb-0">
                                <a class=" text-white" data-toggle="collapse" href="#collapse{{ rev.id }}" data-target="#collapse{{ rev.id }}" aria-expanded="false" aria-controls="collapseOne">
                                    {{ rev.title }} &nbsp; (<small>Date: {{ rev.date.date }}</small>)
                                </a>
                            </h4>
                        </div>

                        <div id="collapse{{ rev.id }}" class="collapse" aria-labelledby="heading{{ rev.id }}" data-parent="#accordion">
                            <div class="card-body">
                                <p class="card-text text-muted">Comment: {{ rev.comment }}</p>
                                <p class="card-text text-muted">Rating: {{ rev.rate }} out of 5</p>
                                <p class="card-text text-muted">Reviewed by: {{ rev.user }}</p>
                                <p class="card-text text-muted">Date: {{ rev.date.date }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 offset-lg-5">
            <a href="{% url 'add_review' %}" class="btn btn-lg btn-secondary">Add Review</a>
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% endblock %}