{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="suppliers-hero" id="hero">
    <h2 class="screen_reader-only">Hero Image</h2>
    <div class="container"></div>
</section>
<div class="container-fluid bg-white">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="{% url 'home' %}" class="btn btn-lg m-2 btn-secondary">Close</a>
    </div>
</div>
<section class="our-story bg-white">
    <div class="container">
        <div class="col-12 col-md-8 col-lg-6 offset-lg-3">
            <div class="section-info">
                <div class="section-description">
                    <div class="about-headline">
                        <h2 class="sub-headline text-black">Our Suppliers</h2>
                    </div>
                    <p class="text-black">
                        As a local independent business we believe in supporting the local community. We source all are products, from
                        local farms, bakers, cheesemongers, butchers and green grocers. See below a list of all our suppliers: 
                    </p>
                </div>
            </div>
            <div class="supplier-details">
                <p>All Meat - <a href="https://www.battlefield1403.com/" target="_blank">Battlefield 1406</a>, Shrewsbury</p>
                <p>Bread - <a href="http://www.bloomers-carolines.co.uk/" target="_blank">Bloomers Bakery</a>, Wem</p>
                <p>Cheese - <a href="https://www.applebysdairy.com/" target="_blank">Applebys Dairy</a>, Hawkstone</p>
                <p>Vegetables & Salad - <a href="https://www.rowlandsltd.co.uk/" target="_blank">Rowlands Fresh Produce</a>, Shrewsbury </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% endblock %}