{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container-fluid bg-white">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="{% url 'home' %}" class="btn btn-lg m-2 btn-secondary" type="button">Close</a>
    </div>
</div>
<div class="container-fluid mb-2 bg-white">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-8">
            <div class="section-info">
                <div class="section-description">
                    <div class="about-headline">
                        <h2 class="sub-headline text-black">{{ user.username }}'s Profile</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
            <div class="media">
                <img class="rounded-circle profile-img" src="{{ user.userprofile.image.url }}" alt="">
                <div class="media-body">
                    <p class="profile-heading pt-5">Username: {{ user.username }}</p>
                    <p class="profile-email">Email: {{ user.email }}</p>
                    <a class="btn btn-secondary" href="{% url 'update_profile' %}">Update Profile</a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row p-2">
        <div class="col-12 col-lg-6">
            <h2><strong>Delivery Info</strong></h2>
            <p><strong>Phone:</strong> </p>
            <p>{{ profile.default_phone_number }}</p>
            <p><strong> Address:</strong></p>
            <p>Street: {{ profile.default_street }}</p>
            <p>Town or City: {{ profile.default_town_or_city }}</p>
            <p>County: {{ profile.default_county }}</p>
            <p>Postcode: {{ profile.default_postcode }}</p>

        </div>
        <div class="col-12 col-lg-6">
            <h2>Order History</h2>
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>
                                    <a class="text-black" href="{% url 'order_history' order.order_id %}"
                                    title="{{ order.order_id }}">
                                        {{ order.order_id|truncatechars:6 }}
                                    </a>
                                </td>
                                <td>{{ order.created_on }}</td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for item in order.lineitems.all %}
                                            <li class="small">
                                                {{ item.product.name }} x{{ item.quantity }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>${{ order.grand_total }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}

