{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container-fluid mb-2 bg-white">
    <div class="col-12 col-md-4 col-lg-4 offset-lg-8">
        <div class="media">
            <img class="rounded-circle profile-img" src="{{ user.userprofile.image.url }}" alt="">
            <div class="media-body">
                <h2 class="profile-heading pt-5">{{ user.username }}'s Profile</h2>
                <p class="profile-email">{{ user.email }}</p>
            </div>
        </div>
    </div>
    <div class="col-12">
        <h2 class="text-center"><strong>Update Profile Information</strong></h2>
        <hr>
    </div>
    <form class="mt-3 text-black btn btn-secoundary" action="{% url 'profile' %}" method="POST" enctype="multipart/form-data" 
    id="profile-update-form">
    {% csrf_token %}
        <div class="row">
            <div class="col-12 col-lg-6">
                <h3><strong>User Info</strong></h3>
                    {{ userForm|crispy}}
            </div>
            <div class="col-12 col-lg-6">
                <h3><strong>Delivery Info & Profile Picture</strong></h3>
                    {{ form|crispy }}
            </div>
        </div>
            <button class="btn btn-secondary text-uppercase">Update Information</button>
    </form>    
</div>
{% endblock %}

