{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- <section class="about-hero" id="hero">
    <div class="container"></div>
</section> -->
<div class="container-fluid bg-white">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="{% url 'home' %}" class="btn btn-lg m-2 btn-secondary" type="button">Close</a>
    </div>
</div>
<section class="our-story bg-white">
    <div class="container">
        <div class="col-12 col-md-8 col-lg-6 offset-lg-3">
            <div class="section-info">
                <div class="section-description">
                    <div class="about-headline">
                        <h2 class="sub-headline text-black">All Orders</h2>
                    </div>
                </div>
            </div>    
        </div>
        <div class="col-md-6 offset-md-3">
            <form method="GET" action="{% url 'all_orders' %}">
                <div class="input-group w-100">
                    <input class="form-control border border-black rounded-0" type="text" name="q"
                        placeholder="Search Orders">
                    <div class="input-group-append">
                        <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                            <span class="icon" aria-label="Search">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                    <a href="{% url 'all_orders' %}" class="btn btn-secondary">Reset</a>
                </div>
            </form>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 mt-5" style="overflow-x: auto;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Order ID</th>
                            <th scope="col">Order Total</th>
                            <th scope="col">Ordered At</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Order Status</th>
                        </tr>
                    </thead>
                    <tbody id="active">
                        {% for order in orders %}
                        <tr class="clickable-row" data-href="{% url 'view_order' order.pk %}">
                            <th scope="row">
                                {{order.pk}}
                            </th>
                            <td>£{{order.order_total}}</td>
                            <td>{{order.created_on.time}}</td>
                            <td>{{order.name}}</td>
                            <td>{{order.email}}</td>
                            <td class="order-status">{{order.order_status}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
   jQuery(document).ready(function($) {
       $(".clickable-row").click(function() {
           window.location = $(this).data("href");
       });
   });
</script>
{% endblock %}
