{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="container-fluid bg-white">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="{% url 'products' %}" class="btn btn-lg m-2 btn-secondary" type="button">Close</a>
    </div>
    <div class="col-12">
        <h2 class="sub-headline text-center text-black ">Create Your Own</h2>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-4">
            <div class="image-container my-5">
                {% if product.image %}
                <a href="{{ product.image_url }}" target="_blank">
                    <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img src="{{ MEDIA_URL }}noimage.png" class="card-img-top" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-4">
            <div class="product-details-container text-black">
                <p class="text-black"><strong>Name: </strong>Create Your Own Burger</p>
                <p class="loud text-black"><strong>Price: </strong>£{{ product.price }}</p>
            </div>
        </div>
        <hr>
        <div class="col-12">
            <div class="form-container text-black">
                <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="col-12 col-md-6 col-lg-4 offset-lg-4">
                        <h4><strong>Enter Your Burger Name:</strong></h4>
                        <input type="text" name="custom_name" class="text-black w-100">
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 offset-lg-4">
                        <p><strong>Quantity:</strong></p>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="decrement-qty btn btn-black rounded-0" 
                                        data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                        <span class="icon">
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </button>
                                </div>
                                <input class="form-control qty_input" type="number"
                                    name="quantity" value="1" min="1" max="99"
                                    data-item_id="{{ product.id }}"
                                    id="id_qty_{{ product.id }}">
                                <div class="input-group-append">
                                    <button class="increment-qty btn btn-black rounded-0"
                                        data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 offset-lg-1">
                        <h4 class="text-center"><strong>Choose your Ingredients: </strong></h4>
                        <h4 class="pl-3">Bun</h4>
                        {% for item in buns %}
                        <ul class="ingredients">
                            <li>
                                <label>
                                    <input type="checkbox" name="ingredients">
                                        <div class="text-white text-center name">{{ item.name }}</div>
                                    </label>
                                </li>
                            </ul>
                        {% endfor %}
                        <h4 class="pl-3">Sauce</h4>
                        {% for item in sauce %}
                            <ul class="ingredients">
                                <li>
                                    <label>
                                        <input type="checkbox" name="ingredients">
                                        <div class="text-white text-center name">{{ item.name }}</div>
                                    </label>
                                </li>
                            </ul>
                        {% endfor %}
                        <h4 class="pl-3">Burger</h4>
                        {% for item in burger %}
                            <ul class="ingredients">
                                <li>
                                    <label>
                                        <input type="checkbox" name="ingredients">
                                        <div class="text-white text-center name">{{ item.name }}</div>
                                    </label>
                                </li>
                            </ul>
                        {% endfor %}
                        <h4 class="pl-3">Cheese</h4>
                        {% for item in cheese %}
                            <ul class="ingredients">
                                <li>
                                    <label>
                                        <input type="checkbox" name="ingredients">
                                        <div class="text-white text-center name">{{ item.name }}</div>
                                    </label>
                                </li>
                            </ul>
                        {% endfor %}
                        <h4 class="pl-3">Salad</h4>
                        {% for item in salad %}
                            <ul class="ingredients">
                                <li>
                                    <label>
                                        <input type="checkbox" name="ingredients">
                                        <div class="text-white text-center name">{{ item.name }}</div>
                                    </label>
                                </li>
                            </ul>
                        {% endfor %}
                        <h4 class="pl-3">Extras</h4>
                        {% for item in extras %}
                            <ul class="ingredients">
                                <li>
                                    <label>
                                        <input type="checkbox" name="ingredients">
                                        <div class="text-white text-center name">{{ item.name }}</div>
                                    </label>
                                </li>
                            </ul>
                        {% endfor %}
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 offset-lg-4">
                        <a href="{% url 'products' %}" class="btn btn-lg btn-secondary">
                            <span class="text-uppercase text-white">Still Hungry?</span>
                        </a>
                        <input type="submit" class="btn btn-lg m-2 btn-secondary" value="Add to Cart">
                    </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>              
            </div>
        </div>
    </div>
</div>
    
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/qty_input_script.html' %}

{% endblock %}