{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="custom-hero" id="hero">
    <h2 class="screen_reader-only">Hero Image</h2>
    <div class="container"></div>
</section>
<section class="reviews bg-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-8 offset-lg-2">
                <div class="section-info">
                    <div class="section-description">
                        <div class="about-headline">
                            <h2 class="sub-headline text-black">Custom Burgers</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2 col-lg-2 justify-content-md-end">
                <a href="{% url 'home' %}" class="btn btn-lg m-2 btn-secondary">Close</a>
            </div>       
        </div>
        <div class="row created-burgers">
            <div class="col-12 text-center">
                <p>Below are custom burgers our customers have created and ordered form LBK. Feel free to create your own 
                    and if we like it you know what happens? You just made the list. 
                </p>
            </div>
            {% for product in products %}
                {% if product.custom == True %}
                    <div class="col-12 col-md-6 col-lg-6 offset-lg-5">
                        <a href="{% url 'custom_details' product.id %}" class="btn btn-lg btn-secondary">Create Your Own</a>
                    </div>
                {% endif %}
            {% endfor %}
            {% for item in burgers %}
                <div class="card" style="width: 18rem;">
                    <div class="imgbx">
                        <img src="https://i.imgur.com/eAhwOdf.jpg?1" class="card-img-top" alt="{{ item.custom_name }}">
                    </div>
                    <div class="content">
                        <h2 class="card-title">{{ item.custom_name}}</h2>
                        <p class="card-text">Ingredients:
                            {% for ing in item.buns.all %} {{ing.name}}, {% endfor %}
                            {% for ing in item.burger.all %} {{ing.name}}, {% endfor %}
                            {% for ing in item.sauce.all %} {{ing.name}}, {% endfor %}
                            {% for ing in item.salads.all %} {{ing.name}}, {% endfor %}
                            {% for ing in item.cheese.all %} {{ing.name}}, {% endfor %}
                            {% for ing in item.extras.all %} {{ing.name}}, {% endfor %}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% endblock %}